/* ===========================
GENERAL
=========================== */

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
}

/* ===========================
HERO SECTION
=========================== */


.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
    background:linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("../images/dis.png");

    background-size:cover;
    background-position:center;
    color:white;
}

.hero-logo{
    width:110px;
    margin-bottom:20px;
}

.hero h1{
    font-size:3.2rem;
    font-weight:800;
}

.hero p{
    font-size:1.2rem;
    line-height:1.8;
}

.hero .btn{
    border-radius:40px;
    padding:14px 32px;
}




/* ===========================
MISSION
=========================== */

.mission-section{

    background:#f8f9fa;

}

.mission-section h2{

    font-weight:700;

}

.mission-section p{

    max-width:700px;
    margin:auto;

}

.mission-section h2{
    font-weight:bold;
}

/* ===========================
SERVICES
=========================== */

.services .card{
    border:none;
    transition:0.3s;
}

.services .card:hover{
    transform:translateY(-8px);
}

/* ===========================
VERSE
=========================== */

.verse-section{

    background:#0d6efd;
    color:white;

}

blockquote{

    font-size:28px;
    font-style:italic;

}
/* about section */
.about-preview{
    background:#fff;
}

.about-preview h2{
    font-weight:700;
    margin-bottom:20px;
}

.about-preview p{
    font-size:18px;
    line-height:1.8;
}
.card{
    transition:.3s;
    border:none;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}
section{
    padding:90px 0;
}
.stats{

    background:#0d6efd;
    color:white;

}

.stats h1{

    font-size:3rem;
    font-weight:bold;

}

.stats p{

    font-size:18px;

}
.btn{

    transition:.4s;

}

.btn:hover{

    transform:translateY(-3px);

}
img{

    border-radius:15px;

}
